@mixin back-url-pos-rep-size($url, $position, $repeat, $size) {
  background: url($url) $repeat $position;
  background-size: $size;
}

@mixin font($weight: 400, $size: 14px, $height: 20px, $style: normal) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  font-style: $style;
}

@mixin flex($direction:row, $justify:flex-start, $align:stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin button-reset() {
  border: 0 transparent;
  text-decoration: none;
}


@mixin position-absolute-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin tablet {
  @media(min-width: $min-tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media(min-width: $min-desktop-width) {
    @content;
  }
}

