.section-sign {
  @include font(700, 12px, 16px, normal);
  letter-spacing: 0.04em;
  color: $base-primary-color;
  text-transform: uppercase;
  text-align: center;
}

.section-title {
  @include font(700, 24px, 36px);
  text-align: center;

  @include tablet {
    font-size: 42px;
    line-height: 64px;
  }
}

.button {
  @include button-reset();
  background-color: $base-primary-color;
  font-family: $base-font-family;

  @include font(400, 16px, 24px);
  color: $base-white-color;
  padding: 8px 20px;
  border-radius: 4px;
}

.button--reset {
  background-color: $base-white-color;
  color: $base-primary-color;
}

.price {
  @include font(600, 20px, 32px);
}
