$min-screen-width: 320px;
$min-tablet-width: 768px;
$min-desktop-width: 1440px;
$base-white-color: #ffffff;
$base-grey-color: #bdbdbd;
$base-black-color: #333333;
$base-primary-color: #7859cf;
$base-secondary-color: #f0ebff;
$base-primary-opacity-color: rgba(120, 89, 207, 0.25);
$base-primary-lighter-color: #9070ec;
$base-primary-darker-color: #593cac;
$base-light-grey-color: #e2e2e2;
$bg-lightest-grey-color: #f8f8f8;
$bg-flat-white-color: #f3ebe1;
$bg-lavender-latte-color: #eae6fc;
$bg-espresso-color: #e5e6e8;
$base-font-family: "Montserrat", "Arial", sans-serif;
$base-text-font-size: 14px;
$base-line-height: 20px;
$base-letter-spacing: 0;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
