.carousel {
  position: relative;
}

.carousel__arrows {
  position: absolute;
  left: 0;
  top: 47%;
  transform: translateY(-50%);

  @include flex(row, space-between, center);
  width: 100vw;

  @include tablet {
    top: 33.3%;
    left: 20px;
    width: 94%;
  }

  @include desktop {
    top: 54%;
    width: 97%;
  }
}

.carousel__button {
  @include button-reset();
  cursor: pointer;
  transition: background-color 0.3s ease;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background: $base-primary-color;

    @include mask-image("../../icons/pagination-arrow-left.svg");
  }
}

.carousel__button--next {
  &::before {
    @include mask-image("../../icons/pagination-arrow-right.svg");
  }
}
