.catalog {
  padding-top: 50px;
  padding-bottom: 44px;
  background-color: $bg-lightest-grey-color;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.catalog__list {
  @include list-reset();
  margin-bottom: 40px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__sign {
  margin: 0 0 4px;
}

.catalog__title {
  margin: 0 0 20px;
}

.catalog__filter {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }

  @include desktop {
    max-width: 318px;
    grid-template-columns: 1fr;
    padding-top: 20px;
    align-content: start;
  }
}

.catalog__wrapper {
  @include desktop {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
  }
}
