.catalog {
  padding-top: 50px;
  padding-bottom: 44px;
  background-color: $bg-lightest-grey-color;
}

.catalog__list {
  @include list-reset();
  margin-bottom: 40px;
}

.catalog__sign {
  margin: 0 0 4px;
}

.catalog__title {
  margin: 0 0 20px;
}
