.features {
  padding-top: 50px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 66px;
  }

  @include desktop {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.features__sign {
  margin: 0 0 4px;
}

.features__title {
  margin: 0 0 36px;

  @include tablet {
    margin-bottom: 61px;
  }

  @include desktop {
    margin-bottom: 80px;
  }
}

.features__list {
  @include list-reset();

  @include tablet {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 32px;
}
