.feature {
  @include flex(column, flex-start, stretch, wrap);
  text-align: center;

  @include tablet {
    display: grid;
    grid-template-columns: 52px 1fr;
    align-items: start;
    gap: 20px;
    text-align: left;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.feature__icon {
  width: 46px;
  height: 56px;
  display: block;
  background-image: url("../../icons/features-speed-50-56.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}

.feature__icon--fit {
  background-image: url("../../icons/features-fit-52-56.svg");
}

.feature__icon--energy {
  background-image: url("../../icons/features-energy-42-56.svg");
}

.feature__icon--eco {
  background-image: url("../../icons/features-eco-46-56.svg");
}

.feature__heading {
  @include font(700, 18px, 32px);
  margin: 0 0 4px;

  @include tablet {
    font-size: 24px;
    line-height: 36px;
  }
}

.feature__description {
  margin: 0;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }
}
