.footer__top {
  @include flex(row, space-between, center, wrap);
  background-color: $base-white-color;
  color: $base-black-color;
  min-height: 60px;
  border-bottom: 1px solid $base-secondary-color;
  padding: 22px 0;

  @include tablet {
    padding-top: 42px;
    padding-right: 32px;
    border-bottom: 1px solid transparent;
  }
}

.footer__logo-sign {
  display: none;

  @include desktop {
    display: block;
  }
}

.footer__socials {
  @include list-reset();
  @include flex(row, flex-start, center, wrap);
}

.footer__socials-item {
  min-width: 40px;
  min-height: 40px;
}

.footer__socials-item:not(:last-child) {
  margin-right: 20px;
}

.footer__socials-link {
  @include flex(row, center, center, wrap);
  color: $base-black-color;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: transparent;
  border-radius: 4px;
  transition: 0.6s;
  border: 1px solid transparent;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background: $base-grey-color;

    @include mask-image("../../icons/social-vk-20-20.svg");

    @include tablet {
      width: 20px;
      height: 20px;
    }
  }
}

.footer__socials-link--pinterest {
  &::before {
    @include mask-image("../../icons/social-pinterest-22-22.svg");
  }
}

.footer__socials-link--classmates {
  &::before {
    @include mask-image("../../icons/social-ok-20-20.svg");
  }
}

.footer__socials-link:not(.current):hover,
.pagination__link:not(.current):focus {
  border: 1px solid $base-primary-color;
}

.pagination__link:not(.current):active {
  border: 1px solid transparent;
  opacity: 0.7;
}

.footer__heading {
  @include font(700, 14px, 20px);
  letter-spacing: 0.02em;
  color: $base-primary-color;
  margin-bottom: 12px;
}

.footer__list {
  @include list-reset();
}

.footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__block {
  padding-top: 20px;
  padding-bottom: 28px;
  border-bottom: 1px solid $base-secondary-color;

  @include tablet {
    border-bottom: 1px solid transparent;
  }
}

.footer__link {
  @include font(500, 12px, 16px);
  @include flex(row, flex-start, flex-start, no-wrap);
  letter-spacing: 0.02em;
  color: $base-black-color;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__link--address::before,
.footer__link--phone::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: $base-primary-color;
  margin-right: 2px;

  @include mask-image("../../icons/contacts-address-13-16.svg");
}

.footer__link--phone::before {
  @include mask-image("../../icons/contacts-phone-13-16.svg");
}

.footer__develop {
  @include font(400, 12px, 16px);
  padding-top: 20px;
  padding-bottom: 30px;
  color: $base-grey-color;

  a {
    @include flex(row, flex-start, center, no-wrap);
    color: $base-grey-color;
    text-decoration: none;
    margin-left: 3px;

    &::after {
      content: "";
      width: 12px;
      height: 16px;
      background: $base-grey-color;
      margin-left: 4px;

      @include mask-image("../../icons/develop-logo-12-16.svg");
    }
  }
}

.footer__develop-info {
  margin: 0;

  @include flex(row, center, center, no-wrap);
}

.footer__links {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
