.header {
  background-color: $base-white-color;
  color: $base-black-color;
  min-height: 60px;
  position: relative;

  @include flex(row, flex-end, center, wrap);

  @include tablet {
    justify-content: flex-start;
    padding-top: 8px;
    padding-bottom: 0;
    padding-right: 40px;
    min-height: 80px;
  }

  @include desktop {
    justify-content: flex-start;
    padding: 2px 60px 0 40px;
  }
}

.header__logo-wrapper {
  @include flex(row, flex-start, center, wrap);
  padding-top: 4px;
  margin-right: auto;

  @include tablet {
    margin-right: 66px;
    padding-top: 0;
  }

  @include desktop {
    margin-right: 164px;
  }
}

.header__logo-sign {
  display: none;

  @include desktop {
    display: block;
    margin-left: 20px;

    @include font(400, 12px, 16px);
  }
}

.header__mobile-menu {
  @include button-reset();
  order: 2;
  margin-left: 34px;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background: $base-black-color;

    @include mask-image("../../icons/header-mobile-menu-16-16.svg");
  }

  @include tablet {
    margin-left: 0;
    display: none;
  }
}

.header__mobile-menu.opened {
  &::before {
    @include mask-image("../../icons/header-menu-close-16-16.svg");
  }
}

.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $base-white-color;
  color: $base-black-color;
  z-index: 3;
  display: none;

  @include tablet {
    display: flex;
    position: static;
    width: fit-content;
    max-width: 68%;
  }
}

.header__nav.active {
  display: block;
}

.header__nav-list {
  @include list-reset();

  @include tablet {
    @include flex(row, flex-start, center, wrap);
  }
}

.header__nav-item {
  @include flex(row, center, center, no-wrap);
  border-top: 1px solid $base-secondary-color;

  @include tablet {
    border-top: 1px solid transparent;
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 3px;

  @include desktop {
    margin-right: 22px;
  }
}

.header__nav-link {
  @include font(500, 12px, 16px);
  display: inline-block;
  padding: 20px;
  color: $base-black-color;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid transparent;

  @include tablet {
    padding: 22px 20px 29px;
  }

  @include desktop {
    padding: 30px 20px;
  }
}

.header__nav-link.current {
  border-bottom: 2px solid $base-primary-color;
}

.header__user-wrapper {
  @include flex(row, flex-start, center, wrap);

  @include tablet {
    margin-left: auto;
  }

  @include desktop {
    margin-top: -2px;
  }

  a {
    @include flex(row, flex-start, center, no-wrap);
    @include font(500, 12px, 16px);
    color: $base-black-color;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.header__user-cart {
  margin-left: 44px;

  @include desktop {
    margin-left: 60px;
  }
}

.header__user-ico {
  &::before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: $base-black-color;
    margin-top: -8px;

    @include mask-image("../../icons/header-user-16-16.svg");

    @include desktop {
      margin-top: -2px;
    }
  }
}

.header__user-ico--cart {
  &::before {
    @include mask-image("../../icons/header-basket-16-16.svg");
  }
}

.header__user-text {
  display: none;

  @include desktop {
    display: block;
    margin-left: 8px;
  }
}
