.hero {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: $bg-flat-white-color;
  color: $base-black-color;
  position: relative;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 0;
  }

  @include desktop {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

.hero__slider-dots {
  display: none;

  @include desktop {
    @include flex(row, center, center, wrap);
  }
}

.hero__slider {
  //height: 656px;

  @include tablet {
    //height: 828px;
  }

  @include desktop {
    //height: 714px;
    margin-bottom: 5px;
  }
}
