.hero {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: $bg-flat-white-color;
  color: $base-black-color;
  position: relative;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.promo__sign {
  margin: 10px 0 4px;

  @include tablet {
    margin-top: 0;
  }
}

.promo__title {
  @include font(700, 36px, 48px, normal);
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 0 10px;

  @include tablet {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }
}

.promo__description {
  text-align: center;
  margin: 0 0 20px;
  width: 100%;

  @include tablet {
    font-size: 20px;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.promo__description .new-line {
  display: none;

  @include tablet {
    display: block;
  }
}

.promo__price--old {
  @include font(400, 16px, 32px);
  color: $base-primary-color;
  text-decoration: line-through;
}

.promo__footer {
  @include flex(row, space-between, center, wrap);
  padding: 0 15px;

  @include tablet {
    justify-content: center;
  }
}

.promo__prices {
  @include tablet {
    margin-right: 20px;
  }
}

.carousel__arrows {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  @include flex(row, space-between, center);
  width: 100%;
}

.carousel__button {
  @include button-reset();

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background: $base-primary-color;

    @include mask-image("../../icons/pagination-arrow-left.svg");
  }
}

.carousel__button--next {
  &::before {
    @include mask-image("../../icons/pagination-arrow-right.svg");
  }
}
