.promo__sign {
  margin: 10px 0 4px;

  @include tablet {
    margin-top: 0;
  }

  @include desktop {
    text-align: left;
  }
}

.promo__title {
  @include font(700, 36px, 48px, normal);
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 0 10px;

  @include tablet {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  @include desktop {
    text-align: left;
  }
}

.promo__description {
  text-align: center;
  margin: 0 0 20px;
  width: 100%;

  @include tablet {
    font-size: 20px;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include desktop {
    text-align: left;
  }
}

.promo__description .new-line {
  display: none;

  @include tablet {
    display: block;
  }
}

.promo__price--old {
  @include font(400, 16px, 32px);
  color: $base-primary-color;
  text-decoration: line-through;
}

.promo__footer {
  @include flex(row, space-between, center, wrap);
  padding: 0 15px;

  @include tablet {
    justify-content: center;
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.promo__prices {
  @include tablet {
    margin-right: 20px;
  }
}
