.slide {
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  display: none;
  position: relative;
  height: inherit;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  @include tablet {
    @include flex(column-reverse, flex-start, center, wrap);
    display: none;
  }

  @include desktop {
    flex-direction: row;
  }
}

.slide.active {
  display: flex;
  opacity: 1;
}

.slide__image-wrapper {
  width: 100%;
  text-align: center;

  @include desktop {
    width: auto;
    margin-right: 30px;
  }
}

.slide__content {
  @include tablet {
    margin-bottom: 24px;
  }
}
